<h1>Listado de tareas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Detalles</th>
    <th>Fecha</th> 
    <th>Responsable</th>
    <th>¿Completa?</th>
    <th></th>
  </tr>

  <%= render @tareas %>
</table>

<br />

<%= link_to 'Nueva tarea', new_tarea_path %>
<%= will_paginate @tareas,
  :previous_label => '&laquo; Anterior',
  :next_label => 'Siguiente &raquo;' %>
