<nav id="menu">
  <ul>
    <li><%= link_to 'Tareas', tareas_path %></li>
    <li><%= link_to 'Responsables', responsables_path %></li>
    <li><%= link_to 'Salir', cerrar_sesion_path, method: :delete %></li>
  </ul>
</nav>
